{% extends 'entry/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="row">
            {% for diary in diaries %}

                <div class="card col-md-3 m-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ diary.note }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ diary.posted_date }}</h6>
                        <p class="card-text">
                            {# To render HTML contents without escaping. #}
                            {% autoescape off %}
                                {{ diary.summary }}
                            {% endautoescape %}
                        </p>

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'detail' diary.id %}" class="card-link btn btn-primary btn-block btn-lg">Read
                            More</a>
                    </div>
                </div>

            {% endfor %}
        </div>
        {% if icon %}
            <div class="text-center">
                <p class="text-muted">There's nothing to show</p>
                <img height="300" src="{% static 'icons/empty-easter-basket.jpg' %}" alt="Nothing to Show">
            </div>
        {% endif %}
    </div>

{% endblock %}