{% extends 'entry/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            {% for diary in diaries %}

                <div class="card col-md-3 m-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ diary.note }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ diary.posted_date }}</h6>
                        <p class="card-text">
                        {# To render HTML contents without escaping. #}
                            {% autoescape off %}
                                {{ diary.summary }}
                            {% endautoescape %}
                        </p>
                        <a href="#" class="card-link btn btn-primary">Read More</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}